.sidebar {
height: 99vh !important;
width: 40vh;
background-color: white !important;
}


#primeraOpcion {
margin-top: 10rem;
}

#header .pro-sidebar-inner {
background-color: transparent;
}

.containerApp {
display: flex;
}

input, label {
    display:block;
}
